<h3 class="panel-title">Form Elements</h3>
<p class="panel-subtitle">Drag a field onto the form, or press Enter to add it to the last row.</p>
<div
  class="field-type-list"
  cdkDropList
  [id]="listId"
  [cdkDropListConnectedTo]="rowListIds()"
  cdkDropListSortingDisabled
  [cdkDropListEnterPredicate]="noEnter"
>
  @for (def of fieldTypes; track def.type) {
    <button type="button" class="field-type" cdkDrag [cdkDragData]="def.type" (click)="add(def.type)">
      <span class="field-type-icon"><mat-icon>{{ def.icon }}</mat-icon></span>
      <span>{{ def.label }}</span>
      <!-- keep the item visible in the palette while it is dragged -->
      <div *cdkDragPlaceholder class="field-type">
        <span class="field-type-icon"><mat-icon>{{ def.icon }}</mat-icon></span>
        <span>{{ def.label }}</span>
      </div>
      <div *cdkDragPreview class="field-type drag-preview">
        <span class="field-type-icon"><mat-icon>{{ def.icon }}</mat-icon></span>
        <span>{{ def.label }}</span>
      </div>
    </button>
  }
</div>
